#Ignore files that are not distributed.
#Check with $git ls-files -i --exclude-standard
*#
*.a
*.bak
*.m4
*.mex*
*.la
*.lo
*.so
*.o
*.pyc
*.stackdump
*.tar*
*/.#*
*~
.DS_Store
.deps
.dirstamp
.idea
.ipynb_checkpoints
.libs
.nfs*
.svn
.stignore
Makefile
Makefile.in
autom4te.cache
config.*
configure
external
libtool
m4/*
!m4/acinclude.m4
mex/aolib.c
mex/maos2mex.h
missing
scripts/libaos.py
stamp-h1
version.h
test/*
!test/*.[chm]
bin/*
!Makefile.am
!Makefile.mex