html {
	font-family: Arial;
	font-size: 0.875em; /* 14px if browser default is 16px */
}
body {
  margin: 0px;
}
/* CSS notes:
	A,B: match either A or B
	A B: matches B inside A including B inside C inside A
	A >B: only immediate children
	table: type selector
	.title: class selector
	
	tr: table row
	td: table data
	th: table header, replaced td

	margin is space outside of border (how far the element is from other elements around it). 
		outline is a line outside of the border. does not affect layout or spacing (fills margin)
	border: top,right,bottom,left
	padding is space between content and border
	color is for text color
*/
* {
	padding-inline-start: 0;
}
table.monitor {
	border-spacing: 0 0;
	border-style: solid;
	border-color: black;
	border-width: 2px 1px 1px 2px;
	table-layout: fixed;
	max-width: 100%;
}
table.monitor tr{
	width: 100%;
	max-width:200em;
}
table.monitor tr td,th {
	border-width: 0.5px 0.5px;
	border-style: solid;
	border-color: #AAA;
	white-space: nowrap;
	vertical-align: middle;
}
table.monitor td {
	text-align: right;
	padding-left: 0.14em;
	padding-right: 0.14em;
}
table.monitor th {
	text-align: center;
	padding-left: 0.14em;
	padding-right: 0.14em;
}

table.monitor tr:nth-child(odd) {
	background-color: #EEE
}

table.monitor .tdpath {
	width: 50%;
	max-width: 10em;/*this allows ellipsis*/
	overflow: hidden;
	text-overflow: ellipsis; 
}
/*table.monitor .tdout {
	max-width: 10em;
	overflow: hidden;
	text-overflow: ellipsis; 
}*/
table.monitor td.tdout{ /*use td.tdout, not td .tdout or .tdout td*/
	text-align: left;
}
table.monitor td.tdout details summary{/*not effective*/
	overflow: hidden; 
	text-overflow: ellipsis; 
}
table.monitor td.tdout details p{
	font-family: roboto mono, monospace;
	font-size: 12px;
	white-space: normal;
}

div.progress {
	position: relative;
	text-align: left;
	max-width:10em;
	width: 10em;
}

div.progressbar {
	background: #3584E4;
	height: 20px;
}

span.progressbar {
	position: absolute;
	top: 2px;
	z-index: 2;
	text-align: left;
	text-overflow: ellipsis; 
	width: 100%;
}
.inline *{
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	margin: 0px;
}

.inline >li{
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	padding-top: 5px;
	padding-bottom: 5px;	
	/*margin-right: 12px;*/
}
ul.tab_hosts img{
	width: 2em;
	padding:0px;
}
ul.tab_hosts {/*this is the tab bar*/
	background: #BFBFBF;
	list-style: none;
	/*overflow: hidden;*/
	margin: 0px;
	width: 100%;
}
ul.tab_hosts li{
	/*display: inline-block;*//*inline ignores vertical padding*/

	padding: 0.3em;
	cursor: pointer;
	white-space: nowrap;
}

ul.tab_hosts li:hover{
	/*color: #7d7d7d;*/
	background: #DFDFDF;
}
ul.tab_hosts li.active{
	/*color: #7d7d7d;*/
	background: #EFEFEF;
}
.menu-container {
  position: relative;
}

.menu-button {
  /*padding: 5px 5px;
  background-color: #BFBFBF;*/
  border: none;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 100%; /* Position below the button */
  left: 0;
  background-color: #BFBFBF;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index:9999;/*prevent being covered*/
}

.menu-list li {
  padding: 5px;
  /*border-bottom: 1px solid #eee;*/
  cursor: pointer;
  white-space: nowrap;
  vertical-align: left;
  width: 93%;
}

.menu-list li:hover {
  background-color: #EFEFEF;
}

.menu-button :hover {
  background-color: #EFEFEF;
}
.black-bar{
	background-color: black;
	width: 100%;
	height: 5px;
	margin: 0;
	padding: 0; 
}

.layout{
	display: grid;
	grid-template-columns:auto 1fr;
	width:100%;
	height:calc(100vh - 70px);
	box-sizing: border-box;
}
