name: Build and test maos in macos arm

on:
  push:
    branches-ignore:
    - gh-pages
  pull_request:
    branches: [ master ]

jobs:
  build:
    if: github.repository == 'lianqiw/maos'
    runs-on: macos-latest
    
    steps:
    - name: checkout maos
      uses: actions/checkout@v4
      with:
        path: maos
    - name: autogen
      run: cd maos && ./autogen.sh
    - name: configure and make
      run: |
        src=$(pwd)/maos
        prefix=$(pwd)/external
        PATH+=${prefix}/bin
        mkdir build && cd build
        $src/configure --enable-release --disable-binary --prefix=$prefix
        make -j4
#    - name: make distcheck
#      run: cd build && make distcheck #make distcheck also runs make check. 
    - uses: actions/upload-artifact@v4
      with:
        name: maos-macos
        path: |
          external
          build/config.h
          build/config.log
          build/bin/
          build/test/
          !build/test/*.*
          !build/*/Makefile
    - name: test #put test in the end so that artifacts are uploaded even if test fails
      run: |
        cd build && make check
